.friendlist {
  padding: 15px;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  width: 430px;
}

.item {
  width: 400px;
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: baseline;
  border: red;
  height: 100px;
}
