.statistics {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px;
    background-color: rgb(205, 243, 250);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
    text-align: center;
}

.statlist {
    display: flex;
    gap: 20px;
    list-style: none;

}
.item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px
    ;
}

.percentage {
    color: crimson;
    font-size: 30px;
}